/*
 * Import fonts
 */
@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Regular.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Bold.ttf') format("truetype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/*
 * Header
 */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 30px;
  margin-bottom: 40px;
}

#logo {
  height: 80px;
  margin-left: 70px;
}

#focus-nav {
  text-align: center;
  word-spacing: 20px;
  width: 100%;
  padding-top: 30px;
}

#focus-nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  width: 100%;
  list-style: none;
}

#focus-nav ul li {
  width: 50%;
}

#focus-nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
  border-bottom: 3px solid #E6E6E6;
}

#focus-nav a:hover {
  color: #0065FC;
  border-bottom: 3px solid #0065FC;
}

/*
 * Sub-header
 */
#sub-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

#sub-header h2 {
  font-size: 40px;
  margin: 0;
}

#sub-header h2 + p {
  font-size: 30px;
  margin-top: 10px;
}

#sub-header div + p {
  display: flex;
  font-size: 30px;
  margin: 0;
  padding: 60px 0;
}

#sub-header div + p i {
  margin-right: 15px;
}

#sub-header div + p i {
  color: #0065FC;
}

/*
 * Sub-header - Search bar
 */
#search {
  display: flex;
  padding-top: 25px;
  position: relative;
}

#search label {
  background-color: #f2f2f2;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 25px;
  width: 90px;
  height: 90px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

#search input {
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 25px 60px 25px 25px;
  width: calc(100% - 140px);
  height: 90px;
  font-size: 30px;
  font-weight: bold;
}

#search button {
  background-color: #0065FC;
  color: white;
  height: 90px;
  width: 90px;
  padding: 25px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0;
}

#search button span {
  display: none;
}

#search button i {
  font-size: 30px;
}

#search button:hover {
  background-color: #005ce6;
}

/*
 * Sub-header - Filters
 */
#filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  margin-bottom: -40px;
}

#filters h2 {
  margin-right: 100%;
}

#filters button, #filters h2 {
  margin-bottom: 40px;
}

#filters button {
  background-color: white;
  border: 3px solid #d9d9d9;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  cursor: pointer;
  height: 90px;
  position: relative;
  padding: 0 0 0 15px;
  margin-right: 40px;
  margin-left: 40px;
}

#filters button i {
  color: #0065FC;
  background-color: #deebff;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  margin-left: -40px;
  font-size: 30px;
  position: absolute;
  top: -3px;
  left: -6px;
}

#filters button span {
  font-size: 30px;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 35px;
}

#filters button:hover {
  background-color: #F2F2F2;
}

#filters button:hover i {
  color: #0d00d3;
}

/*
 * Main
 */
main {
  display: flex;
  flex-direction: column;
}

/*
 * Main - Container of hosts
 */
#container-host-all {
  display: flex;
  flex-direction: column-reverse;
}

#container-host-all p {
  font-size: 25px;
}

/*
 * Main - Hosts in container
 */
#container-host {
  display: flex;
  flex-direction: column;
  padding: 70px 35px;
  flex-basis: 90%;
}

#host-article-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

#host-article-all a {
  width: 100%;
  text-decoration: none;
  color: black;
  height: 350px;
  margin-bottom: 30px;
}

#container-host-title {
  margin: 0 0 40px;
  font-size: 40px;
}

#container-host div + a {
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-decoration: none;
  width: 180px;
  margin-top: 30px;
}

#container-host div + a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
 * Main - Articles for hosts
 */
.host-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 40px;
  border: white 8px solid;
  margin: 0 0 40px;
  height: 100%;
  box-shadow: 0 0 10px #BDBDBD;
}

.host-article figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}

.host-article figcaption div {
  margin-top: 10px;
}

.host-article .star-article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 25px;
}

.host-article figcaption h3 {
  margin: 0;
  font-size: 30px;
}

.host-article figcaption p {
  font-weight: normal;
  margin: 10px 0 0;
}

.host-article img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

.host-article-price {
  font-weight: bold;
}

.star-solid {
  color: #0065FC;
}

.star-void {
  color: #D8D8D8;
}

/*
 * Main - Popular in container
 */
#container-popular {
  background-color: #f2f2f2;
  padding: 40px 35px;
  flex-basis: 50%;
}

#container-popular a {
  width: 100%;
  text-decoration: none;
  color: black;
  height: 330px;
  margin-bottom: 30px;
}

#popular-article-all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#container-popular-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

#container-popular-title i {
  font-size: 40px;
}

#container-popular-title h2 {
  margin: 0;
  font-size: 40px;
}

/*
 * Main - Articles for popular
 */
.popular-article {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 40px;
  border: white 8px solid;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px #BDBDBD;
  height: 100%;
}

.popular-article .star-article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: auto;
  font-size: 25px;
}

.popular-article figcaption {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 25px 25px 15px 30px;
}

.popular-article figcaption h3 {
  margin: 0;
  font-size: 30px;
}

.popular-article figcaption p {
  margin: 20px 0 0 0px;
  font-weight: normal;
}

.popular-article img {
  width: 40%;
  object-fit: cover;
  object-position: 60%;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
}

.popular-article-price {
  font-weight: bold;
}

/*
 * Main - Activities in container
 */
#container-activity {
  padding-left: 35px;
  padding-right: 35px;
}

#container-activity h2 {
  font-size: 40px;
}

#container-activity section {
  display: flex;
  flex-direction: column;
}

#activities a {
  text-decoration: none;
  color: black;
  display: flex;
  height: 400px;
  width: 100%;
  margin-bottom: 40px;
}

a .activity-article img {
  height: calc(100% - 90px);
  width: 100%;
  object-fit: cover;
}

.activity-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 0 20px #D8D8D8;
  width: 100%;
  margin: 0;
}

.activity-article figcaption {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 90px;
}

.activity-article h3 {
  margin: 0 20px 0 0;
  font-size: 30px;
}

.activity-article img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/*
 * Footer
 */
footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 80px 35px;
  margin-top: 50px;
}

footer div {
  margin-bottom: 50px;
}

footer h3 {
  font-size: 35px;
  margin: 0 0 50px;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  line-height: 32px;
}

footer ul li {
  margin-bottom: 20px;
}
